<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Eleições</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar bg-success">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-white">Eleições</span>
        </div>
    </nav>
    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show m-2 container-sm mx-auto" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    {{>msg}}
    {{{body}}}
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>