<div class="container-sm">
    <nav class="navbar navbar-light bg-light p-1">
        <h4><i class="fas fa-folder"></i> Candidaturas - Eleição: {{eleicao.descricao}}</h4>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/eleicao/cadastrar" class="btn btn-outline-success btn-sm m-1">
                    <i class="fas fa-folder"></i> Novo
                </a>
                <a href="/eleicao" class="btn btn-outline-secondary btn-sm m-1">
                    <i class="fa-solid fa-chevron-left"></i> Voltar
                </a>
            </li>
        </ul>
    </nav>
    <table class="table table-striped">
        <tr>
            <th>CANDIDATO</th>
            <th>VOTOS</th>
            <th></th>
        </tr>
        {{#each candidaturas}}
            <tr>
                <td>{{eleitore.nome}}</td>
                <td>{{votos}}</td>
                <td></td>
            </tr>
        {{/each}}
    </table>
</div>