<div class="container-sm">
    <nav class="navbar navbar-light bg-light p-1">
        <h4><i class="fa-solid fa-key"></i> Esqueceu a senha</h4>

    </nav>

    <div class="w-25 mx-auto">
        <form action="/usuario/esqueceu" method="post">
            <label for="matricula">MATRÍCULA</label>
            <input type="text" name="matricula" id="matricula" class="form-control">
            <button type="submit" class="mt-3 btn btn-success w-100">Solicitar nova senha</button>
        </form>
    </div>

</div>